@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;900&display=swap");
* {
  border-radius: 0 !important;
}
html {
  scroll-behavior: smooth;
}
/* CSS Buttons ---------------------------------- */
.btn-outline-light {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 1.5rem;
  border: 1.5px solid;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #cff6c8;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Lexend Exa', sans-serif;
  padding: 15px;
  border-radius: 100%;
}

#myBtn:hover {
    background-color: rgb(146, 190, 255);
}
/* ---------------------------------------------- */
.nav{
  font-family: Arial, Helvetica, sans-serif!;
}
.buttonAdmin {
  border-radius: 0;
  background-color: #1f6d3d;
  color: #fff;
  font-family: "Unbounded", cursive;
  padding: 10px 150px 10px 150px;
  border-width: 0;
}
body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive !important;
}
.titleQ {
  font-size: 150px;
  text-align: center;
}
.TitleCla{
  padding: 0rem 6rem 0rem 6rem;
}
input {
  font-size: 1rem;
}
.QuestionCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

:root {
  --radius: 12px;
  --primary-color: #34965a;
  --secondary-color: #462410;
}
.card {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.border-gradient {
  position: relative;
}

.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--radius);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

.card > .header {
  margin-bottom: 0.25rem;
}
.card > .body {
  font-size: 0.8rem;
  color: #777;
}
.hide {
  display: none;
}
.SearchQuestions {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: 55px;
  margin: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  transition: all 0.5s ease-in-out;
}
.SearchQuestions.open {
  max-width: 309px;
}
.SearchQuestions input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.SearchQuestions.open input {
  padding: 0 15px 0 65px;
}

.SearchQuestions .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.SearchQuestions.open .search {
  border-radius: 6px 0 0 6px;
}
.search .search-icon {
  font-size: 30px;
  color: #1c1c1c;
}
.SearchQuestions .close-icon {
  position: absolute;
  top: 50%;
  right: -45px;
  font-size: 30px;
  color: #1c1c1c;
  padding: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.SearchQuestions.open .close-icon {
  transform: translateY(-50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}
.title {
  text-align: center;
  font-size: 55px;
  line-height: 70px;
  font-weight: 650;
  padding: 60px 30px;
}

.faq-container {
  padding-left: 500px;
  padding-right: 500px;
}

details {
  margin-bottom: 45px;
}

details > summary {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

details > p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  color: #545d7a;
}
a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
.FancyLink {
  position: relative;
  display: inline-block;
}
.FancyLink:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid blue;
  top: 100%;
  transition: all 0.4s;
}
.FancyLink:after {
  right: 100%;
  left: 0;
}
.FancyLink:hover:after {
  right: 0;
}
 
.search-form {
	display: block;
	justify-content: center;
	margin-bottom: 1rem;
  margin-left: auto;
	margin-right: auto;
  }
  
  #search-input {
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	border: 3px solid green;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  }
  
  .btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #0069d9;
  }

.about{
  background-color: #eeeeff;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 6rem;
  padding: 6rem 3rem 1.5rem 3rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.posts-list{
  padding: 1rem 2rem 8rem 2rem;
}

.TitleCla{
    padding: 0rem 6rem 0rem 6rem;
  }

  @media only screen and (max-width: 600px) {
    .imageBanner {
      display: none;
    }
    h1 {
      font-size: 50px;
    }
  }